
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #333333;
$burgerActiveColor: #ffffff;

// Fonts
$mainFont: 'Open Sans', sans-serif;

//colors
$whiteColor: #fff;
$blackColor: #333333;
$grayColor: #6f6f6f;
$redColor: #ff4040;


